<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covidash</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style2.css') }}" rel="stylesheet" />

    <!-- USA Map -->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/usaLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- Social logos -->
    <script src="https://kit.fontawesome.com/f4dd976b2e.js" crossorigin="anonymous"></script>

    <link rel="icon" href="{{ url_for('static', filename='favicon/virus2.png') }}" type="image/png">

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md sticky-top navbar-dark">
        <div class="openbtn" onclick="openNav()"><i class="fas fa-bars"></i>&nbsp;Coronavirus Dashboard</div>
        <!-- <input type="checkbox" id="switch" /><label for="switch">Toggle</label> -->
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times</a>

            <div class="social"><strong>Connect with me</strong>
                <a href="https://github.com/apiwatc/covid-dash" target="_blank" class="git-ic" role="button"><i
                        class="fab fa-lg fa-github"></i></a>
                <a href="https://www.linkedin.com/" target="_blank" class="li-ic" role="button"><i
                        class="fab fa-lg fa-linkedin-in"></i></a>
                <a href="" target="_blank" class="tw-ic" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                <a href="" target="_blank" class="email-ic" role="button"><i class="fas fa-lg fa-envelope"></i></a>
            </div>
            <div class="madeWith">
                <small>Made with <span style="color: red;"> &#x2764; </span> by Someone</small>
            </div>
        </div>
    </nav>

    <!-- Main content -->
    <div class="grid-container">
        <main class="main">
            <!-- Top row content -->
            <div class="container-fluid pl-5 pr-5">
                <div class="row mt-3">
                    <!-- Case overview -->
                    <div class="col-lg-3 pl-1 pr-1">
                        <div class="card-overview">
                            <ul class="text-center">
                                <li class="cases">
                                    <h5><strong>Confirmed</strong></h5>
                                    <h2><strong class="card-text text-primary">
                                            {{"{:,}".format(total.cases)}}
                                        </strong></h2>
                                </li>
                                <li class="cases">
                                    <h5><strong>Recovered</strong></h5>
                                    <h2><strong class="card-text text-success">
                                            {{"{:,}".format(total.recovered)}}
                                        </strong></h2>
                                </li>
                                <li class="cases">
                                    <h5><strong>Decease</strong></h5>
                                    <h2><strong class="card-text text-danger">
                                            {{"{:,}".format(total.deaths)}}
                                        </strong></h2>
                                </li>
                                <li class="cases">
                                    <h5><strong>Active</strong></h5>
                                    <h2><strong class="card-text text-warning">
                                            {{"{:,}".format(total.active)}}
                                        </strong></h2>
                                </li>
                                <li class="cases" style="border: 0;">
                                    <h5><strong>Tested</strong></h5>
                                    <h2><strong class="card-text text-info">
                                            {{"{:,}".format(total.tests)}}
                                        </strong></h2>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Case overview -->

                    <!-- Map and Charts -->
                    <div class="col pr-5 mr-1" id="visual">
                        <div class="container-fluid">
                            <div class="row justify-content-md-center">
                                <div class="col-lg-8">
                                    <div class="cards-map">
                                        <strong>Cases by States</strong>
                                        <div id="chartdiv"></div>
                                        <div id="state" style="display: none;">{{ states|tojson }}</div>
                                        <script src="{{ url_for('static', filename='js/map.js') }}"></script>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                                    <ul class="list-group list-group-flush">
                                        <div class="card-chart">
                                            <li class="list-group-item">
                                                <div class="col-sm">
                                                    <h6 class=""><strong>Last 7 days</strong></h6>
                                                    <div class="chart-container">
                                                        <canvas id="myChart"></canvas>
                                                        <div id="timeline" style="display: none;">{{ timeline|tojson }}
                                                        </div>
                                                        <script
                                                            src="{{ url_for('static', filename='js/charts.js') }}"></script>
                                                    </div>
                                                </div>
                                        </div>
                                        </li>
                                        <div class="card-chart">
                                            <li class="list-group-item">
                                                <div class="col-sm">
                                                    <h6 class=""><strong>Per Million</strong></h6>
                                                    <div class="chart-container">
                                                        <canvas id="myChartDoughnut"></canvas>
                                                        <div id="total" style="display: none;">{{ total|tojson }}</div>
                                                        <script
                                                            src="{{ url_for('static', filename='js/charts.js') }}"></script>
                                                    </div>
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Map and Charts -->
                </div>
            </div>
            <!-- End Top row content -->

            <!-- Second row -->
            <div class="container-fluid pl-5 pr-5 pb-5 mt-3">
                <div class="row justify-content-md-center">
                    <!-- Table -->
                    <div class="col pl-1 pr-1 mb-3">
                        <div class="tableFixHead">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">States</th>
                                        <th scope="col">Confirmed</th>
                                        <th scope="col">Decease</th>
                                        <th scope="col">Active</th>
                                    </tr>
                                </thead>
                                <tbody class="">
                                    {% for state in states %}
                                    <tr>
                                        <td><b>{{state.state}}</b></td>

                                        <!-- confirmed case col -->
                                        {% if state.cases %}
                                        <td>{{"{:,}".format(state.cases)}}
                                            {% if state.todayCases != 0 %}
                                            <sup style=" color:rgb(0, 255, 0);">
                                                +{{state.todayCases}}</sup>
                                            {% endif %}
                                        </td>
                                        {% else %}
                                        <td>n/a</td>
                                        {% endif %}

                                        <!-- death col -->
                                        {% if state.deaths != 0 %}
                                        <td>{{"{:,}".format(state.deaths)}}
                                            <!-- {% if state.todayDeaths != 0 %} -->
                                            <sup style="color:rgb(0, 255, 0);">+{{state.todayDeaths}}</sup>
                                            <!-- {% endif %} -->
                                        </td>
                                        {% else %}
                                        <td>0</td>
                                        {% endif %}

                                        <!-- active col -->
                                        {% if state.active %}
                                        <td>{{"{:,}".format(state.active)}}</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Table -->


                    <div class="col pl-1 pr-1 mb-3">
                        <div class="card" style="width:100%; overflow:auto; height:50vh;">
                            <div class="card-header">
                                <strong>Placeholder</strong>
                            </div>

                            <ul class="list-group list-group-flush">
                                <a href="" target="_blank" style="color: #111;">
                                    <li class="list-group-item">
                                        <div class="card-horizontal">
                                            <div class="img-square-wrapper">

                                                <img src="http://placehold.jp/24/222831/ffffff/70x70.png?text=..."
                                                    alt="news image">

                                            </div>
                                            <div class="title"><strong></strong><span
                                                    style="color: rgb(0, 42, 230);"><strong>&nbsp;&mdash;&nbsp;</strong></span><br><br>

                                                <small style="float: right;">Posted on
                                                </small>
                                            </div>
                                        </div>
                                    </li>
                                </a>
                            </ul>

                        </div>
                    </div>

                    <!-- News -->
                    <div class="col pl-1 pr-1">
                        <div class="card" style="width:100%; overflow:auto; height:50vh;">
                            <div class="card-header">
                                Top News
                            </div>
                            {% for article in news.articles %}
                            <ul class="list-group list-group-flush">
                                <a href="{{ article.url }}" target="_blank" style="color: #111;">
                                    <li class="list-group-item">
                                        <div class="card-horizontal">
                                            <div class="img-square-wrapper">
                                                {% if article.urlToImage %}
                                                <img src="{{ article.urlToImage }}" alt="news image">
                                                {% else %}
                                                <img src="http://placehold.jp/24/222831/ffffff/70x70.png?text=..."
                                                    alt="news image">
                                                {% endif %}
                                            </div>
                                            <div class="title"><strong>{{ article.title }}</strong><span
                                                    style="color: rgb(0, 42, 230);"><strong>&nbsp;&mdash;&nbsp;{{ article.source.name }}</strong></span><br><br>

                                                <small style="float: right;">Posted on
                                                    {{ article.publishedAt[:10] }}</small>
                                            </div>
                                        </div>
                                    </li>
                                </a>
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- End News -->
                </div>
            </div>
            <!-- End Second row -->
        </main>
    </div>
    <!-- End Main content -->

    <script src="{{ url_for('static', filename='js/script.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>